@font-face {
  font-family: "HK_black";
  src: url("../fonts/HKGrotesk-Black.otf");
}

@font-face {
  font-family: "HK_bold";
  src: url("../fonts/HKGrotesk-Bold.otf");
}

@font-face {
  font-family: "HK_medium";
  src: url("../fonts/HKGrotesk-Medium.otf");
}

@font-face {
  font-family: "HK_regular";
  src: url("../fonts/HKGrotesk-Regular.otf");
}

html,
body {
  font-family: "HK_regular";
  font-size: 12px;
  color: #000;
  position: relative;
}

.air-header .navbar-default {
  background-color: #fff;
  border-color: #fff;
  padding: 18px 20px 0 20px;
  box-shadow: 0 1px 30px 0 rgba(0,0,0, 0.05);
}

.air-header .navbar-brand {
  height: 70px;
  padding: 0;
}

.air-header .navbar-default .navbar-toggle {
  border-color: transparent;
}

.air-header .navbar-brand img {
  width: 154px;
}

.air-header .navbar-default .navbar-nav li a {
  font-family: "HK_bold";
  color: #000;
  font-size: 15px;
  padding: 16px 15px;
}

.air-header .lang-menu {
  min-width: 110px;
}

.air-header .navbar-fixed-top .navbar-collapse {
  max-height: 380px;
}

.air-header .navbar-default .navbar-toggle .icon-bar {
  width: 25px;
  border-radius: 0;
  background: #0a2d79;
}

.air-header .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}

.air-header .navbar-default .navbar-nav .dropdown-menu li a {
  padding: 8px 14px;
  font-size: 13px;
}

.air-header .navbar-default .navbar-nav > li.contact-email > a img {
  margin-right: 10px;
  margin-top: -2px;
  width: 18px;
}

.air-header .navbar-default .navbar-nav > li.try-free-btn > a {
  background: #092c7b;
  color: #fff;
  font-size: 15px;
  padding: 16px 26px;
}

/* banner */
.air-banner {
  position: relative;
  margin-top: 88px;
  background: #001129;
}
.air-banner .tip {
  position: relative;
  color: #fff;
  font-family: "HK_bold";
  font-size: 13px;
  padding-bottom: 18px;
  padding-top: 32px;
  padding-left: 38px;
}
.air-banner .tip:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 24px;
  height: 1px;
  background: #0a2b79;
}
.air-banner .air-banner-bg {
  position: absolute;
  width: 250px;
  top: 25px;
  left: 0;
}

.air-banner .bt-wave {
  width: 100%;
  position: relative;
  z-index: 1;
  top: 4px;
}
.air-banner .banner-item {
  padding: 0 0 70px 0;
  background-color: #001129;
}
.air-banner .banner-item-img {
  text-align: center;
}
.air-banner .title-1 {
  color: #fff;
  font-family: "HK_black";
  font-size: 50px;
  line-height: 52px;
}

.air-banner .title-2 {
  color: #fff;
  font-family: "HK_black";
  font-size: 50px;
  line-height: 52px;
}

.air-banner .desc {
  font-family: "HK_bold";
  font-size: 17px;
  padding: 20px 0 50px 0;
  color: #fff;
}

.air-banner .btn-action {
}

.air-banner .btn-action span {
  font-family: "HK_bold";
  font-size: 15px;
  color: #fff;
  background-color: #092b7a;
  padding: 12px 34px;
  display: inline-block;
  cursor: pointer;
}

/* feature */
.air-feature {
  padding: 45px 16px 60px 16px;
  text-align: center;
  max-width: 768px;
  /* margin: -16px auto 0 auto; */
  /* position: relative; */
  /* background: #fff; */
}

.air-feature .feature-title {
  font-family: "HK_black";
  font-size: 32px;
  padding-bottom: 32px;
}

.air-feature .product-item {
  border: 1px solid #e4e4e6;
  border-radius: 16px;
  padding: 24px 18px 20px 18px;
  margin-bottom: 16px;
  min-height: 352px;
}

.air-feature .product-item .pic {
  min-height: 140px;
}

.air-feature .product-item .pic img {
  width: 134px;
}

.air-feature .product-item.collection-robot .pic img {
  width: 150px;
}

.air-feature .product-item .name {
  font-family: "HK_black";
  font-size: 18px;
  padding: 26px 0 16px 0;
  margin: 0;
}

.air-feature .product-item .desc {
  font-family: "HK_regular";
  font-size: 14px;
  margin: 0;
  padding-bottom: 32px;
  min-height: 92px;
}

.air-feature .product-item .ops {
  display: flex;
  justify-content: space-between;
}

.air-feature .product-item .ops a {
  position: relative;
  font-family: "HK_bold";
  color: #092b7a;
  text-align: center;
  display: block;
  width: 48%;
  background: #fff;
  padding: 13px 0;
  border: 1px solid #092b7a;
  text-decoration: none;
  font-size: 14px;
}

.air-feature .product-item .ops a.demo-btn {
  background: #092b7a;
  color: #fff;
}

.air-feature .product-item .ops a.demo-btn div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.air-feature .product-item .ops a.demo-btn div i {
  position: relative;
  display: inline-block;
  padding: 9px;
  margin-left: 10px;
  border-radius: 100%;
  background-color: #fff;
}
.air-feature .product-item .ops a.demo-btn div i:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  border-width: 4px 6px;
  border-style: solid;
  border-color: transparent transparent transparent #092b7a;
}

.air-feature .tip-con {
  text-align: center;
  font-family: "HK_regular";
  font-size: 14px;
  padding-bottom: 4px;
  padding-top: 40px;
}

.air-feature .tip-btn {
  text-align: center;
  font-family: "HK_bold";
  font-size: 18px;
}

.air-feature .tip-btn span.tip-btn-link {
  color: #2e437b;
  text-decoration: underline;
  /* padding-left: 10px; */
  cursor: pointer;
}


/* air-feature-con */
.air-feature-con {
  position: relative;
  background: #011438;
  margin-top: 10%;
  padding-bottom: 150px;
}

.air-feature-con .top-wave {
  position: relative;
  width: 100%;
  margin-top: -10%;
}

.air-feature-con .fc-box-img {
  text-align: center;
  padding-bottom: 30px;
}

.air-feature-con .fc-box-img img {
  width: 80%;
}

.air-feature-con .fc-box {
  padding-top: 25px;
}

.air-feature-con .fc-box-text {
}

.air-feature-con .fc-box-text .item .glyphicon {
  position: absolute;
  right: 24px;
  font-size: 19px;
  top: 25px;
}

.air-feature-con .fc-box-text .item .glyphicon-chevron-down {
  display: none;
}
.air-feature-con .fc-box-text .item .glyphicon-chevron-right {
  display: block;
}

.air-feature-con .fc-box-text .item,
.air-feature-con .air-xs-item {
  background: #fff;
  border-radius: 7px;
  padding: 24px 24px;
  margin-bottom: 12px;
  cursor: pointer;
  position: relative;
}

.air-feature-con .air-xs-item {
  min-height: 310px;
}

.air-feature-con .fc-box-text .item.show-content .item-icon,
.air-feature-con .fc-box-text .item.show-content .item-content {
  display: block;
}

.air-feature-con .fc-box-text .item.show-content .glyphicon-chevron-down {
  display: block;
}
.air-feature-con .fc-box-text .item.show-content .glyphicon-chevron-right {
  display: none;
}

.air-feature-con .fc-box-text .item .item-icon,
.air-feature-con .air-xs-item .item-icon {
  display: none;
  padding-bottom: 14px;
}
.air-feature-con .air-xs-item .item-icon {
  display: block;
}

.air-feature-con .fc-box-text .item .item-title,
.air-feature-con .air-xs-item .item-title {
  font-family: "HK_bold";
  font-size: 18px;
}

.air-feature-con .fc-box-text .item .item-content,
.air-feature-con .air-xs-item .item-content {
  display: none;
  padding-top: 12px;
  font-size: 14px;
}
.air-feature-con .air-xs-item .item-content {
  display: block;
}

.air-feature-con .fc-box-text .item .item-icon img,
.air-feature-con .air-xs-item .item-icon img {
  width: 62px;
}

/* air-feature-bt */
.air-feature-bt {
  padding: 16px;
  text-align: center;
  max-width: 1000px;
  margin: -100px auto 0 auto;
  position: relative;
}
.air-feature-bt .bt-box {
  box-shadow: 0 0 30px 0 #092b7a4d;
  border-radius: 6px;
  padding: 28px 20px 6px 20px;
  background: #fff;
}
.air-feature-bt .bt-item {
  padding-bottom: 28px;
}
.air-feature-bt .bt-item .title {
  font-family: "HK_black";
  font-size: 15px;
  letter-spacing: 1px;
  padding-bottom: 18px;
  margin: 0;
}
.air-feature-bt .bt-item .items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.air-feature-bt .bt-item .items .item-text {
  font-family: "HK_medium";
  font-size: 13px;
  text-align: center;
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 6px 0;
  border-radius: 6px;
}
.air-feature-bt .bt-item .items .item-text + .item-text {
  margin-left: 8px;
}
.air-feature-bt .bt-item .items .item-img {
  width: 9%;
  max-width: 40px;
  cursor: pointer;
}

/* air-why-ai */
.air-why-ai .bg-left {
  display: none;
  position: absolute;
  bottom: -58px;
  left: 0;
  z-index: -1;
  width: 350px;
}

.air-why-ai .bg-right {
  display: none;
  position: absolute;
  top: -10px;
  right: 0;
  z-index: -1;
  width: 350px;
}

.air-why-ai .tip-btn span:last-child {
  color: #2e437b;
  text-decoration: underline;
  /* padding-left: 10px; */
  cursor: pointer;
}

.air-why-ai .title {
  font-family: "HK_black";
  font-size: 32px;
  padding: 32px 0;
  text-align: center;
}

.air-why-ai .item {
  padding-bottom: 40px;
}

.air-why-ai .item .box,
.air-why-ai .air-xs-item {
  border: 1px solid #e1e2e4;
  padding: 30px 20px 20px 20px;
  border-radius: 6px;
  margin-bottom: 24px;
  min-height: 327px;
  background: #fff;
}

.air-why-ai .item .box .img,
.air-why-ai .air-xs-item .img {
  padding-bottom: 8px;
}

.air-why-ai .item .box .img img,
.air-why-ai .air-xs-item .img img {
  width: 36px;
  height: 36px;
}

.air-why-ai .item .box .sub-title,
.air-why-ai .air-xs-item .sub-title {
  font-family: "HK_bold";
  font-size: 20px;
  padding: 10px 0 8px;
  margin: 0;
}

.air-why-ai .item .box .sub-title .sub-imp,
.air-why-ai .air-xs-item .sub-imp {
  color: #0c59b7;
  padding-right: 6px;
}

.air-why-ai .item .box .sub-data,
.air-why-ai .air-xs-item .sub-data {
  position: relative;
  font-family: "HK_regular";
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 7px;
  padding-left: 23px;
}

.air-why-ai .item .box .sub-data:after,
.air-why-ai .air-xs-item .sub-data:after {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  padding: 6px;
  background-image: url("../images/right_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.air-why-ai {
  position: relative;
  padding-bottom: 66px;
}

.air-why-ai .tip-con {
  text-align: center;
  font-family: "HK_regular";
  font-size: 14px;
  padding-bottom: 4px;
}

.air-why-ai .tip-btn {
  text-align: center;
  font-family: "HK_bold";
  font-size: 18px;
}

/* air-why-us */
.air-why-us {
  background-color: #1c253b;
  padding-bottom: 120px;
}

.air-why-us .top-wave {
  width: 100%;
  display: block;
  position: relative;
  top: -3px;
}

.air-why-us .title {
  font-family: "HK_black";
  font-size: 32px;
  padding: 32px 0;
  text-align: center;
  color: #fff;
}

.air-why-us .item .bt-img img {
  width: 50%;
}

.air-why-us .item .bt-txt .name {
  font-family: "HK_bold";
  font-size: 23px;
  padding: 24px 0 12px;
  color: #fff;
  margin: 0;
}

.air-why-us .item .bt-txt .desc {
  margin: 0;
  font-family: "HK_regular";
  font-size: 14px;
  color: #fff;
}

.air-why-us .item {
  padding-bottom: 40px;
  max-width: 960px;
}

/* air-why-us-q */
.air-why-us-q {
  position: relative;
  padding: 16px;
  max-width: 1000px;
  margin: -60px auto 0 auto;
  z-index: 1;
}

.air-why-us-q .item {
  box-shadow: 0 0 30px 0 #092b7a4d;
  border-radius: 6px;
  padding: 16px;
  background: #fff;
}
.air-why-us-q .item .item-box {
  display: flex;
  align-items: center;
}

.air-why-us-q .item .title {
  font-family: "HK_bold";
  font-size: 26px;
  padding-bottom: 5px;
}

.air-why-us-q .item .desc {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 15px;
}

.air-why-us-q .item .tip-btn {
  font-family: "HK_bold";
  font-size: 14px;
  color: #fff;
  background-color: #092b7a;
  padding: 12px 30px;
  display: inline-block;
  cursor: pointer;
}

.air-why-us-q .item .bot-img {
  width: 90px;
}

.air-why-us-q .item .item-box-img {
  text-align: right;
}

/* air-why-us-n */
.air-why-us-n {
  padding-bottom: 60px;
  max-width: 840px;
  padding-top: 60px;
}

.air-why-us-n .list {
  /* padding-bottom: 24px; */
}

.air-why-us-n .row.list .col-sm-6 {
  padding-bottom: 24px;
}

.air-why-us-n .item {
  text-align: center;
  border: 2px dashed #ddd;
  border-radius: 130px;
  padding: 30px 16px;
}

.air-why-us-n .item img {
  width: 72px;
  height: 72px;
}
.air-why-us-n .item .num {
  font-size: 40px;
  color: #000;
  padding-top: 12px;
  font-family: "HK_black";
}
.air-why-us-n .item .desc {
  font-size: 14px;
  color: #000;
  font-family: "HK_bold";
}

.air-why-us-n .try-btn {
  text-align: center;
  padding-top: 24px;
}

.air-why-us-n .try-btn span {
  font-family: "HK_bold";
  font-size: 14px;
  color: #fff;
  background-color: #092b7a;
  padding: 12px 16px;
  display: inline-block;
  cursor: pointer;
}

/* air-brand */
.air-brand {
  padding: 38px 16px 16px 16px;
  background-color: #1c253b;
}
.air-brand .title {
  text-align: center;
  font-family: "HK_black";
  font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
  padding-bottom: 18px;
}
.air-brand .list {
  width: 54%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.air-brand .list .item {
  text-align: center;
  padding: 10px 0;
  cursor: default;
}
.air-brand .list .item img {
  width: 60px;
  height: 60px;
}
.air-brand .air-xs-item img {
  width: 44px;
  margin: 0 9px;
}
.air-brand .air-xs-item {
  text-align: center;
  /* display: flex; */
  /* justify-content: space-around; */
}

/* air-footer */
.air-footer {
  padding: 16px 16px 80px 16px;
  max-width: 1170px;
  margin: 0 auto;
}

.air-footer .box {
}

.air-footer .air-footer-con {
  text-align: center;
  padding-top: 44px;
}

.air-footer .box .title-a {
  line-height: 42px;
  font-family: "HK_black";
  font-size: 42px;
}

.air-footer .box .title-b {
  font-family: "HK_black";
  font-size: 42px;
  line-height: 42px;
  padding-bottom: 30px;
}

.air-footer .box .btn-try {
  padding-top: 8px;
}

.air-footer .box .btn-try span {
  font-family: "HK_bold";
  font-size: 14px;
  color: #fff;
  background-color: #092b7a;
  padding: 12px 16px;
  display: inline-block;
  cursor: pointer;
}

.air-footer .box .btn-tip {
  font-family: "HK_regular";
  font-size: 12px;
  color: #c5c5c5;
  padding-top: 10px;
}

.air-footer .box img {
  width: 100%;
}

/* air-copyright */
.air-copyright {
  text-align: center;
  font-size: 12px;
  font-family: "HK_ragular";
  color: #000;
}

.air-copyright .copyright-text {
  padding-top: 12px;
}

.air-copyright .privacy-link {
  padding-top: 12px;
  padding-bottom: 32px;
}

.air-copyright img {
  width: 130px;
}

.air-copyright .privacy-link a {
  color: #0f2c7b;
}

/* modal */
.air-connect-modal {
}

.air-connect-modal .connect-modal-title {
  font-family: "HK_black";
  font-size: 26px;
}

.air-connect-modal .connect-modal-btn {
  text-align: center;
  font-family: "HK_bold";
  font-size: 13px;
  color: #fff;
  background-color: #092b7a;
  padding: 12px 34px;
  cursor: pointer;
  margin-bottom: 15px;
}

.air-connect-modal .connect-modal-tip {
  font-size: 14px;
  padding-bottom: 26px;
}

.air-connect-modal label.control-label {
  font-family: "HK_medium";
  font-size: 15px;
}

.air-connect-modal form {
  padding-bottom: 18px;
}

.air-connect-modal .connect-modal-smile {
  padding-left: 10px;
}

.air-connect-modal .connect-modal-smile i {font-style: normal;padding: 0 1px;}

.air-connect-modal .connect-modal-smile i:last-child {
  position: relative;
  top: 1px;
}

.air-connect-modal .connect-modal-smile i:first-child {
  position: relative;
  top: -1px;
}
.air-connect-modal .connect-modal-close {
  position: absolute;
  top: 42px;
  right: 24px;
  font-size: 17px;
  color: #c3bfbf;
  cursor: pointer;
}

div#success_connect_modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 450px;
  background: #fff0;
  z-index: 1999;
}

div#success_connect_modal .box{
  padding: 0 15px;
}

.air-connect-modal #connect-needs {
  height: 117px;
}