/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .air-feature .feature-title {
    font-size: 41px;
    padding-bottom: 36px;
  }

  .air-feature .product-item .pic {
    min-height: 213px;
  }
  
  .air-feature .product-item .pic img {
    width: 200px;
  }
  
  .air-feature .product-item.collection-robot  .pic img {
    width: 214px;
  }

  .air-feature-bt .bt-item.language-box {
    padding-right: 26px;
  }
  .air-feature-bt .bt-item.language-box .items {
    padding-top: 5px;
  }
  .air-feature-bt .bt-item.markets-box {
    padding-left: 26px;
  }
  
  .air-footer .air-footer-con {
    text-align: left;
    padding-top: 0;
  }

  .air-footer .air-footer-row {
    display: flex;
    align-items: flex-end;
  }
  
  .air-footer .box img {
    width: 90%
  }

  .air-why-us .item .bt-img img {
    width: 75%;
  }  

  .air-why-us .item .row {
    display: flex;
    align-items: center;
  }

  .air-why-us .item .bt-txt .name {
    font-size: 26px;
  }

  .air-why-us .item .bt-txt .desc {
    font-size: 16px;
  }

  .air-why-us-q .item .box-left {
    display: flex;
    align-items: center;
  }

  .air-banner {
    padding-top: 50px;
  }

  .air-header .navbar-brand img {
    width: 115px;
  }

  .air-header .navbar-default .navbar-nav li a {
    padding: 15px 5px;
    font-size: 14px;
  }

  .air-header .navbar-default .navbar-nav > li.try-free-btn > a {
    padding: 12px 8px;
  }

  .air-banner .title-1,
  .air-banner .title-2 {
    font-size: 58px;
    line-height: 60px;
  }

  .air-banner .banner-item {
    display: flex;
    align-items: center;
  }

  .air-brand {
    padding: 38px;
  }

  .connect-modal-body {
    padding: 24px 56px;
    box-sizing: border-box;
  }

  .air-why-ai .bg-left,
  .air-why-ai .bg-right {
    display: block;
  }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  .air-header .navbar-brand img {
    width: 154px;
  }

  .air-header .navbar-default .navbar-nav li a {
    padding: 16px 15px;
    font-size: 15px;
  }

  .air-header .navbar-default .navbar-nav > li.try-free-btn > a {
    padding: 12px 26px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) { 

  
}